node_modules/
font-tools-env/
*.woff2
*.ttf
*.otf
*.eot
*.svg
dist/fonts/
fonts/
subsets/aspekta/
subsets/atkinson-hyperlegible/
subsets/crimson-pro/
subsets/inconsolata/
subsets/public-sans/
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.pdf
*.py